Repository eventespresso/EE4-Promotions, pull requests merged in 2019-01, with the labels that each got.

#14 dont delete old tables if we are going to recreate them immediately, …
  core/data_migration_scripts/EE_DMS_Promotions_1_0_0.dms.php
Labels: category:models-and-data-infrastructure, status:needs-testing, type:bug 🐞

#16 Added new indexes for commonly queried fields
  core/data_migration_scripts/EE_DMS_Promotions_1_0_0.dms.php
Labels: category:models-and-data-infrastructure, status:needs-testing, type:enhancement 🎉, type:impacts-eventsmart

#15 Added new filters to facilitate ticket scope promotions and new indexes to promotions table
  EED_Promotions.module.php
  lib/scopes/EE_Promotion_Scope.lib.php
Labels: category:promotions, status:merge, type:feature-request 🙏
